@import '../../styles/variables.scss';
.movies-container {

  .movie-details-container {
    padding: 25px;
    overflow: hidden;
    color: gray;
    
    .movie-details-poster {
      float: left;
      padding-bottom: 0;
      width: 140px;
      position: relative;
      img {
        width: 100%;
        float: left;
      }
    }

    .movie-details-data {
      padding: 0;
      width: calc(100% - 160px);
      margin-left: 160px;
      font-size: 12px;

      .movie-details-title {
        margin-top: 0px;
        color: white;
        line-height: 32px;
        text-overflow: ellipsis;
        font-size: 25px;
        font-weight: 400; 
      }

      .movie-details-generic {
        margin-bottom: 15px;
      }

      .movie-details-vote {
        padding: 5px 0;
        font-size: 20px;
        width: 40px;
        font-weight: 500;
        text-align: center;
        border-radius: 3px;
        background-color: $movie-vote-bg-color;
        margin-bottom: 15px;
        color: $base-font-color;
      }

      .movie-details-genres {
        float: left;
        width: 100%;
        height: 19px;
        padding: 5px 0;
        .movie-details-genre-name {
          font-size: 13px;
          float: left;
          padding: 0 10px;
          font-weight: 500;
          color: wheat;
          border-left: solid 1px white;
          &:first-child {
            border: none;
            padding-left: 0
          }
        }
        bottom: 0px;
      }
    }

    .movie-detail-summary {
      float: left;
      padding: 25px 40px;
      border-bottom: solid 3px ;
      border-top: solid 3px ;
      margin-top: 20px;
      h2 {
        float: left;
        width: 100%;
        margin-bottom: 8px;
        padding-bottom: 15px;
        padding-top: 5px;
        font-size: 18px;
        font-weight: 500;
        color: $base-font-color;
      }

      p {
        margin-bottom: 15px;
        line-height: 22px;
      }

    }
  }


}
