@import '../../styles/variables.scss'; 
.movie-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .movie-item {
    width: 16%;
    margin-bottom: 5px;
    background: #000;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
    border: 2px solid #404040;
    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
      width: 25%;
    }
    @media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
      width: 30%;
    }
    @media (max-width: $breakpoint-mobile) {
      width: 50%;
    }
    img {
      width: 100%;
      height: 250px;
      display: block;
    }

    .movie-vote-average {
      position: absolute;
      right: 10px;
      bottom: 37px;
      padding: 5px 10px;
      background-color: $movie-vote-bg-color;
      font-weight: 700;
      font-size: 12px;
      border-radius: 4px;
    }

    .movie-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 5px;
      padding: 3px 5px;
      text-align: center;
      color: $base-font-color;
      font-weight: 700;
    }
  }
}