.toast {
  padding: 1.5rem;
  border-radius: 0.5em;
  opacity: 0.9;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 20px;
  position: fixed;
  max-height: 100vh;
  overflow: hidden auto;
  bottom: 0;
  right: 0;
  animation: toast-in-right 250ms;

  .toast-message {
    font-size: 12px;
    display: flex;
    gap: 1em;
    align-items: top;
  }
  .toast-icon {
    display: flex;
    align-items: center;
    width: 3em;
    height: 3em;
  }

  .toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.1);
    .toast-progress-bar {
      height: 100%;
      animation: progress-bar 4s linear forwards;
      background-color: red;
    }
  }
  
  @keyframes progress-bar {
    0% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }

  @keyframes toast-in-right {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}
