@import './variables.scss';

body {
  padding: 0;
  margin: 0;
  background-color: $main-bg-color;
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.movies-container {
  padding: 20px;
  margin: 0 auto;
  
  @media (min-width: $breakpoint-desktop) {
    width: $base-container-width;
  }
}

