$base-font-size-lg: 44px;
$base-font-size-md: 16px;
$base-font-size: 14px;
$base-container-width: 1050px;
$base-font-color: white;
$main-bg-color: #16151C;

$base-border-color: #767676;

$navbar-bg-color: #1E1E1D;
$search-bar-btn-color: #F6764D;

$movie-vote-bg-color: #903a3a;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;