@import '../../styles/variables.scss';
.header {
  height: 100px;
  font-style: normal;
  justify-content: center;
  padding: 5px 4%;
  display: flex;
  background-color: $navbar-bg-color;
  align-items: center;
  .header-title {
    font-weight: $base-font-size-lg;
    color: white;
  }
  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}
